<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="People can register on the platform as members and hire a professional lawyer">
		<meta name="kewords" content="lawyer, legal, court, case, hire a lawyer, consultation">
		<meta name="author" content="Olajosh">
		<meta name="robots" content="index, follow">
    <title>My LAWYEr/appointment/confirmation</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css">
    <link rel="stylesheet" href="/static/appointment_confirm.css">
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-md">
            <header>
              <nav class="navbar navbar-expand-md fixed-top fetch">
                <div class="container">
                  <h1  class="navbar-brand lw"><i class="fa-solid fa-scale-balanced"></i> MYLAWYEr</h1>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto mb-2 mb-md-0">
                      <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about/">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/blog/">Our Blog</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/profile/">Profile</a>
                      </li>
                    </ul>
                    <div class="d-flex" role="search">
                      <a href="/profile/" class="me-3">Hi, {{client_fname}}</a>
                      <a href="/user/login/" class="btn ms-1" >Logout</a>
                    </div>
                  </div>
                </div>
              </nav>
            </header>
          </div>
          </div>
    </div>
  </div>
    <div class="container-fluid ms-0 ps-0 mt-5">
        <div class="row">
            <div class="col-md text-center my-5">
                <h1>Thank you, {{ name }}!</h1>
                <p>Your appointment has been successfully booked.</p>
                <span class="me-3">Click</span><a href="/blog/"><i class="fa-solid fa-blog "></i></a><strong>to EXplore</strong>
            </div>
        </div>
    </div>

    <div class="container-fluid ms-0 ps-0 mt-5">
        <div class="row">
          <div class="col-md">
            <div class="row p-5 today1">
              <div class="col-md-6">
                <h6 class="text-dark">Connect with a Lawyer</h6>
                <span class="text-dark">My Lawyer is software application that is designed <br> for all users around the World, used by millions of <br> Lawyers and clients across the globe.</span> <br><br>  
                <span class="text-dark">built with <i class="fa-solid fa-heart"></i> and <i class="fa-solid fa-laptop"></i> in Lagos, Nigeria, West Afrcia.</span>
                <p style="font-weight: lighter;" class="pt-2"><span><a href="https://google.com/" class="text-dark">Lincense</a></span>
                  <span><a href="https://google.com/" class="text-dark">Terms of Services</a></span>
                  <span><a href="https://google.com/" class="text-dark">Privacy Policy</a></span>
                  <span><a href="https://google.com/" class="text-dark">Cookies Preferences</a></span>
                  
                </p>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="m-2 text-dark">Contact Us</h6>
                    <p class="text-dark"><i class="fa-solid fa-house cont"></i>Magodo Phase 2, Nelson Wike</p>
                    <p class="text-dark"><i class="fa-solid fa-phone cont"></i>+2348166378009</p>
                    <p class="text-dark"><i class="fa-solid fa-fax cont"></i>+2349029938798</p>
                    <a href="https://www.gmail.com/"><p class="text-dark"><i class="fa-solid fa-envelope cont"></i>joshuaollaoluwa@gmail.com</p></a>
                  </div>
                  <div class="col-md-3">
                    <h6 class="text-dark">Community</h6>
                   <a href="https://x.com/" target="_blank"> <p class="text-dark">Twitter <i class="fa-brands fa-x-twitter"></i></p></a>
                   <a href="https://web.facebook.com/"><p class="text-dark">facebook <i class="fa-brands fa-facebook-f"></i></p></a> 
                   <a href="https://www.tiktok.com/"><p class="text-dark">Tiktok <i class="fa-brands fa-tiktok"></i></p></a> 
                   <a href="https://www.linkedin.com/"><p class="text-dark">LinkedIn <i class="fa-brands fa-linkedin"></i></p></a> 
                  </div>
                  <div class="col-md-3 p-1">
                    <h6 class="text-dark">Help</h6>
                    <p class="text-dark">Support</p>
                    <p class="text-dark">FAQ</p>
                    <p class="text-dark">Newsletter</p>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-color:  #062f65; color: #fbfbfb;" class="row">
              <div class="col">
                <footer>
                  <p class="text-center mt-2">&copy MY LAWYEr, Inc</p>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
