<link rel="stylesheet" href="/static/footer.css">
<div class="row p-5 foot">
    <div class="col-md-6">
      <h6 class="top">Connect with a Lawyer</h6>
      <span class="write" style="font-weight: lighter;">My Lawyer is software application that is designed <br> for all users around the World, used by millions of <br> Lawyers and clients across the globe.</span> <br><br>  
      <span class="write" style="font-weight: lighter;">built with <i class="fa-solid fa-heart"></i> and <i class="fa-solid fa-laptop"></i> in Lagos, Nigeria, West Afrcia.</span>
      <p style="font-weight: lighter;" class="pt-2"><span><a href="" class="writer">Lincense</a></span>
        <span><a href="https://google.com/" target="_blank" class="writer">Terms of Services</a></span>
        <span><a href="https://google.com/" target="_blank" class="writer">Privacy Policy</a></span>
        <span><a href="https://google.com/" target="_blank" class="writer">Cookies Preferences</a></span>
        
      </p>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h6 class="top m-2">Contact Us</h6>
          <p class="write"><i class="fa-solid fa-house cont"></i>Magodo Phase 2, Nelson Wike</p>
          <p class="write"><i class="fa-solid fa-phone cont"></i>+2348166378009</p>
          <p class="write"><i class="fa-solid fa-fax cont"></i>+2349029938798</p>
          <a href="https://www.gmail.com/" target="_blank"><p class="writer"><i class="fa-solid fa-envelope cont"></i>joshuaollaoluwa@gmail.com</p></a>
        </div>
        <div class="col-md-3">
          <h6 class="top ">Community</h6>
         <a href="https://x.com/" target="_blank"> <p class="writer">Twitter <i class="fa-brands fa-x-twitter"></i></p></a>
         <a href="https://web.facebook.com/" target="_blank"><p class="writer">facebook <i class="fa-brands fa-facebook-f"></i></p></a> 
         <a href="https://www.tiktok.com/" target="_blank"><p class="writer">Tiktok <i class="fa-brands fa-tiktok"></i></p></a> 
         <a href="https://www.linkedin.com/" target="_blank"><p class="writer">LinkedIn <i class="fa-brands fa-linkedin"></i></p></a> 
        </div>
        <div class="col-md-3 p-1">
          <h6 class="top">Help</h6>
          <p class="write">Support</p>
          <p class="write">FAQ</p>
          <p class="write">Newsletter</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color:  #fbfbfb; color: #011232;" class="row">
    <div class="col">
      <footer>
        <p class="text-center mt-2">&copy MY LAWYEr, Inc</p>
      </footer>
    </div>
  </div>
</div>
        

<script src="/static/script.js"></script>
<script>
$(document).ready(function(){
  
})
</script>
</body>
</html>