{% extends 'user/header.html' %}
{% block content %}

<h1>Make Payment to book Appointment</h1>

<p>Some Instruction for Payment</p>
            {% set message = get_flashed_messages(with_categories=True) %}
                {% if message %}
                  {% for msg , cat in message %}
                    {% if cat == 'errormsg' %}
                      <div class="alert alert-danger">{{msg}}</div>
                    {% else %}
                      <div class="alert alert-success">{{msg}}</div>
                    {% endif %}
                  {% endfor %}
                {% endif %}

<form action="/pay/" method="post">
    <div class="mb-3">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <p> Amount &#8358;{{price.price_amt }}</p>
    </div>
    <div class="mb-3">
        <button class="btn btn-secondary noround mx-33" type="button" onclick="document.location.href='/dashboard/'">Cancel</button>
        <button class="btn btn-danger noround">Continue</button>
    </div>
</form>

  {% endblock %}